<% provide(:title,"Cards") %>
<table id="cards">
  <thead>
    <tr>
      <th scope="col" id="name">Name</th>
      <th scope="col" id="cost">Cost</th>
      <th scope="col" id="typeline">Type</th>
      <th scope="col" id="power_toughness">P/T</th>
    </tr>
  </thead>
  <tbody>
    <%= render @cards %>
  </tbody>
</table>

<%= link_to "New Card", new_card_path, class: "btn btn-large btn-primary" %>
