@import "bootstrap";

/* mixins */
@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight:bold; 
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

body {
  padding-top: 60px;
}

#cards {
  /* box style, #3 from http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/ */
  margin: 0;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 2px solid #aabcfe;
    border-bottom: 2px solid #aabcfe;
    color: #039;
  }
  td {
    padding: 8px;
    background: #e8edff; 
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
  }
  tr:hover td
  {
    background: #d0dafd;
    color: #339;
  }
}

/* debug-dump */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}